// Fonts
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;500&display=swap');
// Variables
@white: #fff;
@backgroundColor: #EEF6FB;
@activeButtonColor: #61B1E8;
@iconColor: #CDF0EF;
@iconBorderColor: #2E4369; 
@activeColor: #5EB0E7; 
@font: 'League Spartan', sans-serif;
@lightFont: 200;
@heavyFont: 500;

body {
    font-family: @font;
    font-weight: @lightFont;
    background-color: @backgroundColor;

    #container {
        max-width: 960px;
        margin: 0 auto;
        padding: 35px;

        .buttonWrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;

            button {
                color: black;
                width: 100%;
                font-size: 35px;
                padding: 25px;
                background: transparent;
                text-transform: uppercase;
                border: none;
                font-family: @font;
                font-weight: @lightFont;
                cursor: pointer;
            }

            .active {
                font-weight: @heavyFont;
                color: @activeColor;
            }
        }

        .weatherWrapper {
            background-color: @white;
            border-radius: 10px;
            padding: 5px;
            text-align: center;
            -webkit-box-shadow: 0px 0px 12px 2px rgba(46, 67, 105, 0.22);
            box-shadow: 0px 0px 12px 2px rgba(46, 67, 105, 0.22);

            .todaysForecastContainer {
                padding: 60px;
                background-color: @backgroundColor;

                h3 {
                    font-size: 40px;
                    font-family: @font;
                    font-weight: @lightFont;
                    margin-top: 0px;
                }

                .todayWeatherInnerDetails {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .detailsIcon {
                        font-size: 80px;
                        color: @iconColor;
                        margin-right: 20px;
                        svg path {
                            stroke: @iconBorderColor;
                            stroke-width: 20;
                          }
                    }

                    .detailsInfo {
                        text-align: left;
                        margin-left: 25px;

                        h4 {
                            font-size: 80px;
                            margin: 0;
                            font-family: @font;
                            font-weight: @heavyFont;
                        }

                        h5 {
                            font-size: 40px;
                            margin: 0;
                            font-family: @font;
                            font-weight: @lightFont;
                        }
                    }

                }
            }

            .dailyForecastContainer {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;

                h3 {
                    font-family: @font;
                    font-weight: @lightFont;
                    font-size: 30px;
                    margin: 30px 0px 30px 0px;
                }

                h4 {
                    font-family: @font;
                    font-weight: @heavyFont;
                    font-size: 35px;
                    margin: 30px 0px 30px 0px;
                }

                .dailyForecastInner {
                    margin-right: 5px;
                    width: 100%;
                    background-color: @backgroundColor;

                    .dailyForecastIcon {
                        font-size: 50px;
                        color: @iconColor;
                        svg path {
                            stroke: @iconBorderColor;
                            stroke-width: 20;
                          }
                    }

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}